<div class="row-fluid profileblock" >
    <div class="profile col">
            <a href="/"><img src="/static/img/profile.jpg" class="th radius" alt=""/></a>
    </div>

    <div class="blip col">
        <h3><a href="http://www.burgerking.co.za" target="_blank">Burger King | South Africa</a></h3>
        <p>
            This is the official online uniform &amp; clothing supply store for <strong>Burger King, South Africa</strong>.
            <br/> Please select the product and the quantity below:

        </p>
    </div>

    <div class="shopping col">
        <a href="{% url "checkout" %}" class="button btncart xlarge radius">
            <span id="cart_count">
                {% if cart.nb_items %}
                {{cart.nb_items}}
                {% else %}
                    0
                {% endif %}
            </span>
            <br/>
            {% if cart.nb_items > 1 %}items{% else %}item{% endif %} in your cart
        </a>
        <a href="" class="button btntrash xlarge radius">
            clear
        </a>
    </div>
</div>