<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Tip of The Tongue Agency</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tip of The Tongue Agency">
    <meta name="author" content="">

    <!-- Standard Favicon-->
    <link rel="shortcut icon" href="/favicon.ico">

    {% include "parallax/assets/css.html" %}

    <!-- Home Page Styles -->
    <link href="/static/dignity/stylesheets/home{{ config.parallax_id }}.css" rel="stylesheet">

</head>

<body>

{% if config.parallax_id == "10" %}
    <a id="bgndVideo" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v=9s2oYUy_cVY',containment:'body',autoPlay:true, mute:true, startAt:1, opacity:1}">bg</a>
{% endif %}

{% include "parallax/partials/headers/nav.html" %}
<!-- Master Wrap : starts -->
<section id="mastwrap" class="sliding">
    {% include header %}

    {% if config.is_about %}
        {% include "parallax/partials/about.html" %}
    {% endif %} 

    {% if config.is_service %}
        {% include "parallax/partials/services.html" %}
    {% endif %}

    {% if config.is_team %}
        {% include "parallax/partials/team.html" %}
    {% endif %}

    {% if config.is_testimonials %}
        {% include "parallax/partials/testimonials.html" %}
    {% endif %}

    {% if config.is_portfolio %}
        {% include "parallax/partials/portfolio.html" %}
    {% endif %}

    {% if config.is_contact %}
        {% include "parallax/partials/contact.html" %}
    {% endif %}

    {% include "parallax/partials/footer.html" %}

    {% include "parallax/assets/js.html" %}

</section>
<!-- Master Wrap : ends -->

</body>