<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{{ config.site_name }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="{{ config.meta_keywords }}">
    <meta name="description" content="{{ config.meta_description }}">
    <meta name="author" content="{{ config.meta_author }}">

    <!-- Standard Favicon-->
    <link rel="shortcut icon" href="/favicon.ico">

    {% include "parallax/assets/css.html" %}

    {% block home_css %}
    <!-- Home Page Styles -->
    <link href="/static/dignity/stylesheets/home{{ config.parallax_id }}.css" rel="stylesheet">
    {% endblock %}
</head>

<body>

{% if config.parallax_id == "10" %}
    <a id="bgndVideo" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v=9s2oYUy_cVY',containment:'body',autoPlay:true, mute:true, startAt:1, opacity:1}">bg</a>
{% endif %}

{% block nav %}
    {% include "parallax/partials/headers/nav.html" %}
{% endblock %}
<!-- Master Wrap : starts -->
<section id="mastwrap" class="sliding">
    {% block content %}
        You Should <strong>Not</strong> See This
    {% endblock %}
    
    {% include "parallax/partials/footer.html" %}

    {% include "parallax/assets/js.html" %}

</section>
<!-- Master Wrap : ends -->

</body>