{% extends "parallax/base.html" %}

{% block content %}
    {% include header %}

    {% if config.is_about %}
        {% include "parallax/partials/about.html" %}
    {% endif %}

    {% if config.is_service %}
        {% include "parallax/partials/services.html" %}
    {% endif %}

    {% if config.is_team %}
        {% include "parallax/partials/team.html" %}
    {% endif %}

    {% if config.is_testimonials %}
        {% include "parallax/partials/testimonials.html" %}
    {% endif %}

    {% if config.is_portfolio %}
        {% include "parallax/partials/portfolio.html" %}
    {% endif %}

    {% if config.is_contact %}
        {% include "parallax/partials/contact.html" %}
    {% endif %}
{% endblock %}