{% extends "parallax/base.html" %}
{% load thumbnail %}

{% block home_css %}
    <link href="/static/dignity/stylesheets/home07.css" rel="stylesheet">
{% endblock %}

{% block nav %}
<!-- Sliding Navigation : starts -->
<nav class="menu" id="sm">
	<div class="sm-wrap">
		<h1 class="sm-logo">{{ config.site_name_small }}</h1>
		<i class="icon-remove menu-close"></i>
		<a  href="/">Home</a>
        {% if config.is_about %}<a href="/#about">About</a>{% endif %}
        {% if config.is_service %}<a href="/#services">Services</a>{% endif %}
        {% if config.is_team %}<a href="/#team">Team</a>{% endif %}
        {% if config.is_portfolio %}<a href="/#portfolio">Portfolio</a>{% endif %}
        {% if config.is_contact %}<a href="/#contact">Contact</a>{% endif %}
        {% if config.alt_link %}<a href="{{ config.alt_link }}">{{ config.alt_link_title }}</a>{% endif %}

	</div>
	<!-- Navigation Trigger Button -->
	<div id="sm-trigger"></div>
</nav>
<!-- Sliding Navigation : ends -->
{% endblock %}

{% block content %}
    {% include header %}

    <!-- page-section : starts -->
    <section id="about" class="about page-section add-top add-bottom-half">

        <!-- inner-section : starts -->
        <section class="inner-section about-welcome">

        <!-- container : starts -->
        <section class="container">
            <div class="row">
                <article class="col-md-12 text-center">
                    {% if config.about_logo %}
                        <div class="about-emblem">
                            <img alt="" title="" src="{{ config.about_logo.url }}"/>
                        </div>
                    {% else %}
                        {% if config.logo %}
                            <div class="about-emblem">
                                <img alt="" title="" src="{{ config.logo.url }}"/>
                            </div>
                        {% else %}
                            <div class="about-emblem">
                                <img alt="" title="" src="/static/dignity/images/badge-{{ config.colour }}.png"/>
                            </div>
                        {% endif %}
                    {% endif %}
                    <h1 class="super-heading animated" data-fx="flipInX">{{ config.about_title }}</h1>
                    <h1 class="promo-heading animated" data-fx="pulse">{{ portfolio.title }}</h1>
                </article>
            </div>
            <div class="row add-space-min">
                {% with portfolio.get_features as feature_list %}
                    <article class="col-md-{% if feature_list %}8{% else %}12{% endif %} text-left">
                        <h3>Project Summary</h3>
                        <p>{{ portfolio.description|linebreaksbr|safe }}</p>
                    </article>
                    {% if feature_list %}
                        <article class="col-md-4 text-left">
                            <h3>Highlights</h3>
                            <ul class="project-spec-lines">
                                {% for feature in feature_list %}
                                    <li>{{ feature.title }}</li>
                                {% endfor %}
                            </ul>
                        </article>
                    {% endif %}
                {% endwith %}
            </div>
            {% with portfolio.get_images as image_list %}
                {% if image_list or portfolio.image %}
                    <div class="row">
                        {% if portfolio.image %}
                            {% thumbnail portfolio.image 495x327 crop quality=100 as thumb %}
                            <article class="col-md-6 text-center project-deatil-image">
                                <a class="image-lightbox-link" href="{{ portfolio.image.url }}">
                                    <img class="img-responsive" alt="" title="" src="{{ thumb.url }}"/>
                                    <div class="det-overlay"></div>
                                </a>
                            </article>
                        {% endif %}

                        {% for image in image_list %}
                            {% thumbnail image.image 495x327 crop quality=100 as thumb %}
                            <article class="col-md-6 text-center project-deatil-image">
                                <a class="image-lightbox-link" href="{{ image.image.url }}">
                                    <img class="img-responsive" alt="" title="" src="{{ thumb.url }}"/>
                                    <div class="det-overlay"></div>
                                </a>
                            </article>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="row project-features-wrap">
                {% if portfolio.block1_title and portfolio.block1_description %}
                    <article class="col-md-2 text-center">
                        {% if portfolio.block1_image %}
                            {% thumbnail portfolio.block1_image 135x135 crop quality=100 as thumb %}
                            <img alt="" title="" src="{{ thumb.url }}"/>
                        {% else %}
                            {% if portfolio.block1_standard %}
                                <img class="img-responsive" alt="" title="" src="/static/dignity/images/services/{{ config.colour }}/0{{ portfolio.block1_standard }}.png"/>
                            {% else %}
                                <img class="img-responsive" alt="" title="" src="/static/dignity/images/services/{{ config.colour }}/01.png"/>
                            {% endif %}
                        {% endif %}
                    </article>
                    <article class="col-md-4 text-left">
                        <h3>{{ portfolio.block1_title }}</h3>
                        <p>{{ portfolio.block1_description }}</p>
                    </article>
                {% endif %}
                {% if portfolio.block2_title and portfolio.block2_description %}
                    <article class="col-md-2 text-center">
                        {% if portfolio.block2_image %}
                            {% thumbnail portfolio.block2_image 135x135 crop quality=100 as thumb %}
                            <img alt="" title="" src="{{ thumb.url }}"/>
                        {% else %}
                            {% if portfolio.block2_standard %}
                                <img class="img-responsive" alt="" title="" src="/static/dignity/images/services/{{ config.colour }}/0{{ portfolio.block2_standard }}.png"/>
                            {% else %}
                                <img class="img-responsive" alt="" title="" src="/static/dignity/images/services/{{ config.colour }}/02.png"/>
                            {% endif %}
                        {% endif %}
                    </article>
                    <article class="col-md-4 text-left">
                        <h3>{{ portfolio.block2_title }}</h3>
                        <p>{{ portfolio.block2_description }}</p>
                    </article>
                {% endif %}
            </div>
            <div class="row add-space-min">
                {% if portfolio.block3_title and portfolio.block3_description %}
                    <article class="col-md-2 text-center">
                        {% if portfolio.block3_image %}
                            {% thumbnail portfolio.block3_image 135x135 crop quality=100 as thumb %}
                            <img alt="" title="" src="{{ thumb.url }}"/>
                        {% else %}
                            {% if portfolio.block3_standard %}
                                <img class="img-responsive" alt="" title="" src="/static/dignity/images/services/{{ config.colour }}/0{{ portfolio.block3_standard }}.png"/>
                            {% else %}
                                <img class="img-responsive" alt="" title="" src="/static/dignity/images/services/{{ config.colour }}/03.png"/>
                            {% endif %}
                        {% endif %}
                    </article>
                    <article class="col-md-4 text-left">
                        <h3>{{ portfolio.block3_title }}</h3>
                        <p>{{ portfolio.block3_description }}</p>
                    </article>
                {% endif %}
                {% if portfolio.block4_title and portfolio.block4_description %}
                    <article class="col-md-2 text-center">
                        {% if portfolio.block4_image %}
                            {% thumbnail portfolio.block4_image 135x135 crop quality=100 as thumb %}
                            <img alt="" title="" src="{{ thumb.url }}"/>
                        {% else %}
                            {% if portfolio.block4_standard %}
                                <img class="img-responsive" alt="" title="" src="/static/dignity/images/services/{{ config.colour }}/0{{ portfolio.block4_standard }}.png"/>
                            {% else %}
                                <img class="img-responsive" alt="" title="" src="/static/dignity/images/services/{{ config.colour }}/04.png"/>
                            {% endif %}
                        {% endif %}
                    </article>
                    <article class="col-md-4 text-left">
                        <h3>{{ portfolio.block4_title }}</h3>
                        <p>{{ portfolio.block4_description }}</p>
                    </article>
                {% endif %}

            </div>
        </section>
        <!-- container : ends -->

        </section>
        <!-- inner-section : ends -->
        {% with config.get_parallaxconfigaboutimage as about_image_list %}
        {% if about_image_list %}
            <!-- inner-section : starts -->
        <section id="thumb-carousel-wrap" class="inner-section thumb-carousel-wrap">
                <!-- thumb-carousel : starts -->
                <div id="thumb-carousel" class="owl-carousel">
                  {% for image in about_image_list %}
                    {% if image.display %}
                          <div class="item animated" data-fx="{% cycle "bounceInDown" "bounceInUp" %}">
                            {% thumbnail image.image 350x235 crop quality=100 as thumb %}
                            <a class="image-lightbox-link" href="{{ image.image.url }}">
                                <img alt="" title="" class="img-responsive" src="{{ thumb.url }}"/>
                                <div class="thumb-title"><h5><span>{{ image.title }}</span></h5></div>
                            </a>
                          </div>
                    {% endif %}
                  {% endfor %}
                </div>
                <!-- thumb-carousel : ends -->
        </section>
        <!-- inner-section : ends -->
        {% endif %}
        {% endwith %}

        <!-- inner-section : starts -->
        <section class="inner-section text-center add-top-half add-bottom-half">
                    <nav class="cl-effect-10 btn-dignity-animated">
                <a data-hover="View our portfolio" href="/#portfolio"><span>View Our Other Projects</span></a>
            </nav>
        </section>
        <!-- inner-section : ends -->

    </section>
    <!-- page-section : ends -->

    {% if config.is_contact %}
        {% include "parallax/partials/contact.html" %}
    {% endif %}

{% endblock %}