<!-- Bootstrap CSS Files -->
<link href="/static/dignity/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/static/dignity/bootstrap/css/bootstrap-theme.css" rel="stylesheet">

<!-- Custom Fonts Setup via Font-face CSS3 -->
<link href="/static/dignity/fonts/fonts.css" rel="stylesheet">

<!-- CSS files for plugins -->
<link href="/static/dignity/stylesheets/pace.preloader.css" rel="stylesheet">
<link href="/static/dignity/stylesheets/slidingmenu.css" rel="stylesheet">
<link href="/static/dignity/stylesheets/simpletextrotator.css" rel="stylesheet" >
<link href="/static/dignity/stylesheets/animated-buttons.css" rel="stylesheet" >
<link href="/static/dignity/stylesheets/owl.carousel.css" rel="stylesheet">
<link href="/static/dignity/stylesheets/owl.theme.css" rel="stylesheet">
<link href="/static/dignity/stylesheets/prettyPhoto.css" rel="stylesheet">
<link href="/static/dignity/stylesheets/magnific-popup.css" rel="stylesheet" >
<link href="/static/dignity/stylesheets/jquery.tweet.css" rel="stylesheet"/>

<!-- Animated Elements -->
<link href="/static/dignity/stylesheets/animate.css" rel="stylesheet">
<link href="/static/dignity/stylesheets/effects.css" rel="stylesheet">

<!-- Main Template Styles -->
<link href="/static/dignity/stylesheets/main.css" rel="stylesheet">

<!-- Main Template Responsive Styles -->
<link href="/static/dignity/stylesheets/main-responsive.css" rel="stylesheet">

<!-- Main Template Retina Optimizaton Rules -->
<link href="/static/dignity/stylesheets/main-retina.css" rel="stylesheet">

<!-- LESS stylesheet for managing color presets -->
{% if config.colour == "red" %}
    <link rel="stylesheet/less" type="text/css" href="/static/dignity/less/color.less">
{% else %}
    <link rel="stylesheet/less" type="text/css" href="/static/dignity/less/demo-color-{{ config.colour }}.less">
{% endif %}

<!-- LESS JS engine-->
<script src="/static/dignity/less/less-1.5.0.min.js"></script>

 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/dignity/less/bootstrap/js/html5shiv.js"></script>
      <script src="/static/dignity/less/bootstrap/js/respond.min.js"></script>
    <![endif]-->

<!-- Modernizr Library-->
<script src="/static/dignity/javascripts/modernizr.custom.js"></script>
