{% load thumbnail %}
<!-- page-section : starts -->
<section id="about" class="about page-section add-top add-bottom-half">

	<!-- inner-section : starts -->
	<section class="inner-section about-welcome">

	<!-- container : starts -->
	<section class="container">
		<div class="row">
			<article class="col-md-12 text-center">
                {% if config.about_logo %}
                    <div class="about-emblem">
                        <img alt="" title="" src="{{ config.about_logo.url }}"/>
                    </div>
                {% else %}
                    {% if config.logo %}
                        <div class="about-emblem">
                            <img alt="" title="" src="{{ config.logo.url }}"/>
                        </div>
                    {% else %}
                        <div class="about-emblem">
                            <img alt="" title="" src="/static/dignity/images/badge-{{ config.colour }}.png"/>
                        </div>
                    {% endif %}
                {% endif %}
				<h1 class="super-heading animated" data-fx="flipInX">{{ config.about_title }}</h1>
				<h1 class="promo-heading animated" data-fx="pulse">{{ config.about_subtitle }}</h1>
				<p class="promo-text">{{ config.about_paragraph }}</p>
			</article>
		</div>
	</section>
	<!-- container : ends -->

	</section>
	<!-- inner-section : ends -->
    {% with config.parallaxconfigaboutimage_set.all as about_image_list %}
    {% if about_image_list %}
    	<!-- inner-section : starts -->
	<section id="thumb-carousel-wrap" class="inner-section thumb-carousel-wrap">
        	<!-- thumb-carousel : starts -->
        	<div id="thumb-carousel" class="owl-carousel">
              {% for image in about_image_list %}
                {% if image.display %}
                      <div class="item animated" data-fx="{% cycle "bounceInDown" "bounceInUp" %}">
                        {% thumbnail image.image 350x235 crop quality=100 as thumb %}
                        <a class="image-lightbox-link" href="{{ image.image.url }}">
                            <img alt="" title="" class="img-responsive" src="{{ thumb.url }}"/>
                            <div class="thumb-title"><h5><span>{{ image.title }}</span></h5></div>
                        </a>
                      </div>
                {% endif %}
              {% endfor %}
        	</div>
        	<!-- thumb-carousel : ends -->
    </section>
	<!-- inner-section : ends -->
    {% endif %}
    {% endwith %}


	<!-- inner-section : starts -->
	<section class="inner-section text-center add-top-half add-bottom-half">
        		<nav class="cl-effect-10 btn-dignity-animated">
			<a data-hover="View our portfolio" href="#portfolio"><span>View Our Portfolio</span></a>
		</nav>
	</section>
	<!-- inner-section : ends -->

</section>
<!-- page-section : ends -->