<!-- page-section : starts -->
<section id="contact" class="contact page-section add-top add-bottom">

	<!-- inner-section : starts -->
	<section class="inner-section">

	<!-- container : starts -->
	<section class="container">

		<div class="row">
			<article class="col-md-12 text-center">
				<h1 class="main-heading main-heading">Contact Us</h1>
				<div class="liner"><span></span></div>
				<p class="promo-text light-text">We are a full service design agency from the heart of London. We create perfect brands, vibrant identities, outstanding websites and creative concepts.</p>
			</article>
		</div>

		<div class="row">
			<article class="col-md-12 liner-division-light">
			</article>
		</div>

		<div class="row">
			<article class="col-md-12 text-center">
                <div class="alert alert-error error" id="fname">
                    Name must not be empty
                </div>
                <div class="alert alert-error  error" id="fmail">
                    Please provide a valid email
                </div>
                <div class="alert alert-error  error" id="fmsg">
                    Message should not be empty
                </div>
			</article>
		</div>

		 <form name="myform" id="contactForm" action="http://designova.net/dignity/sendcontact.php" enctype="multipart/form-data" method="post">
            <div class="row add-top-small animated" data-fx="pulse">
              <article class="col-md-4">
                    <input type="text" placeholder="Name" id="name" name="name" size="100">
                    <input type="text" placeholder="email" name="email" id="email" size="30">
              </article>
              <article class="col-md-6">
                    <textarea placeholder="Message" name="message" cols="40" rows="3" id="msg"></textarea>
              </article>
              <article class="col-md-2">
                    <button class="btn btn-rounded" id="submit" name="submit" type="submit">Go</button>
              </article>
            </div>
        </form>
	</section>
	<!-- container : ends -->
	</section>
	<!-- inner-section : ends -->
</section>
<!-- page-section : ends -->

