<!-- page-section : starts -->
<footer id="mastfoot" class="mastfoot">

	<!-- inner-section : starts -->
	<section class="inner-section footer-top">

		<!-- container : starts -->
		<section class="container">

		<div class="row">
			<article class="col-md-6 text-left">
				<p>Dignity Inc. Mexes Arena, London, UK</p>
				<p class="phone">+012.345.678.9</p>
			</article>
			<article class="col-md-6 text-right">
				<p>Interested in working with us?</p>
				<a href="#">info@domain.com</a>
			</article>
		</div>

		</section>

	</section>
	<!-- inner-section : ends -->

	<!-- inner-section : starts -->
	<section class="inner-section footer-bottom">

		<!-- container : starts -->
		<section class="container">

		<div class="row">
			<article class="col-md-6 text-left">
				<h3>@twitter</h3>
			              <article id="ticker" class="query"></article>
			</article>
			<article class="col-md-6 text-right">
				<ul class="footer-social">
					<li><a href="#"><img alt="" title="" src="/static/dignity/images/footer/01.png"/></a></li>
					<li><a href="#"><img alt="" title="" src="/static/dignity/images/footer/02.png"/></a></li>
					<li><a href="#"><img alt="" title="" src="/static/dignity/images/footer/03.png"/></a></li>
				</ul>
				<div class="credits">
					<p>Premium template by Designova. <br/>Copyright &copy; 2013</p>
				</div>
			</article>
		</div>

		</section>

	</section>
	<!-- inner-section : ends -->

</footer>
<!-- page-section : ends -->