{% load thumbnail %}
{% with config.get_parallaxconfigservice as services_list %}

<!-- page-section : starts -->
<section id="services" class="services page-section " data-stellar-background-ratio="1.7">

	<!-- inner-section : starts -->
	<section class="inner-section add-top">

	<!-- container : starts -->
	<section class="container">
		<div class="row">
			<article class="col-md-12 text-center animated" data-fx="flipInX">
				<h1 class="main-heading">{{ config.services_title }}</h1>
				<div class="liner"><span></span></div>
				<p class="promo-text white-text">
                    {{ config.services_text|safe }}
				</p>
			</article>
		</div>

		<div class="row">
			<article class="col-md-12 liner-division-light">
			</article>
		</div>

        {% if services_list %}
		<div class="row services-icon-wrap  services-icon-wrap-{{ config.colour }}">
            {% for service in services_list %}
                {% if service.counter1 < 5 %}
                    <article id="service-{{ forloop.counter }}" class="service-icon {% if forloop.first %}current{% endif %} col-md-3 text-center animated" data-fx="slideIn{% cycle "Left" "Left" "Right" "Right" %}">
                        <a class="customLink" data-sudo-rel="{{ forloop.counter }}">
                            {% if service.emblem %}
                                {% thumbnail service.emblem 180x180 crop quality=100 as thumb %}
                                <img alt="" title="" src="{{ thumb.url }}"/>
                            {% else %}
                                <img alt="" title="" src="/static/dignity/images/services/{{ config.colour }}/0{{ forloop.counter }}.png"/>
                            {% endif %}
                        </a>
                        <h5>{{ service.title }}</h5>
                    </article>
                {% endif %}
            {% endfor %}
		</div>
        {% endif %}
	</section>
	<!-- container : ends -->

	</section>
	<!-- inner-section : ends -->

	<!-- inner-section : starts -->
    {% if services_list %}

	<section class="inner-section services-expansion">

	<!-- container : starts -->
	<section class="container">
		<ul id="service-slider" >
            {% for service in services_list %}
                {% if service.counter1 < 5 %}
                    <li  class="service-details {% if forloop.first %}default{% endif %}" data-service-active-hover="service-{{ forloop.counter }}">
                        <article class="text-center">
                            <h3 class="sub-heading">{{ service.title }}</h3>
                            <h5 class="small-heading"><span>{{ service.subtitle }}</span></h5>
                            <p class="white-text">{{ service.copy|safe }}</p>
                            <nav class="cl-effect-10 btn-dignity-animated">
                                <a href="#contact" data-hover="Request quote"><span>Have a project?</span></a>
                            </nav>
                        </article>
                    </li>
                {% endif %}
            {% endfor %}
		</ul>

	</section>
	<!-- container : ends -->

	</section>
	<!-- inner-section : ends -->
    {% endif %}
{% endwith %}

</section>
<!-- page-section : ends -->
