<!-- page-section : starts -->
<section id="services" class="services page-section" data-stellar-background-ratio="1.7">

	<!-- inner-section : starts -->
	<section class="inner-section add-top">

	<!-- container : starts -->
	<section class="container">
		<div class="row">
			<article class="col-md-12 text-center animated" data-fx="flipInX">
				<h1 class="main-heading">Our Services</h1>
				<div class="liner"><span></span></div>
				<p class="promo-text white-text">We are a full service design agency from the heart of London. We create perfect brands, vibrant identities, outstanding websites and creative concepts.</p>
			</article>
		</div>

		<div class="row">
			<article class="col-md-12 liner-division-light">
			</article>
		</div>

		<div class="row services-icon-wrap  services-icon-wrap-blue">
			<article id="service-01" class="service-icon current col-md-3 text-center animated" data-fx="slideInLeft">
				<a class="customLink" data-sudo-rel="1"><img alt="" title="" src="/static/dignity/images/services/blue/01.png"/></a>
				<h5>Digital Experience</h5>
			</article>
			<article id="service-02" class="service-icon col-md-3 text-center animated" data-fx="slideInLeft">
				<a class="customLink" data-sudo-rel="2"><img alt="" title="" src="/static/dignity/images/services/blue/02.png"/></a>
				<h5>Branding &amp; Identity</h5>
			</article>
			<article id="service-03" class="service-icon col-md-3 text-center animated" data-fx="slideInRight">
				<a class="customLink" data-sudo-rel="3"><img alt="" title="" src="/static/dignity/images/services/blue/03.png"/></a>
				<h5>Web Publication</h5>
			</article>
			<article id="service-04" class="service-icon col-md-3 text-center animated" data-fx="slideInRight">
				<a class="customLink" data-sudo-rel="4"><img alt="" title="" src="/static/dignity/images/services/blue/04.png"/></a>
				<h5>Motion Graphics</h5>
			</article>
		</div>
	</section>
	<!-- container : ends -->

	</section>
	<!-- inner-section : ends -->

	<!-- inner-section : starts -->
	<section class="inner-section services-expansion">

	<!-- container : starts -->
	<section class="container">
		<ul id="service-slider" >
			<li  class="service-details default" data-service-active-hover="service-01">
				<article class="text-center">
					<h3 class="sub-heading">Digital Experience</h3>
					<h5 class="small-heading"><span>Brochures / Flyers </span></h5>
					<p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros iaculis, lacinia nibh non, scelerisque urna. In sed convallis turpis, non convallis sapien. Sed faucibus ante et felis tempor accumsan eget sed tortor. Mauris a velit vitae mauris ultricies vehicula vitae dapibus odio. Praesent ipsum ligula, luctus ac libero sagittis, porttitor consectetur eros. Vestibulum velit ipsum, egestas nec aliquam a, molestie mattis leo.</p>
					<nav class="cl-effect-10 btn-dignity-animated">
					<a href="#" data-hover="Request quote"><span>Have a project?</span></a>
					</nav>
				</article>
			</li>

			<li  class="service-details default" data-service-active-hover="service-02">
				<article class="text-center">
					<h3 class="sub-heading">Branding &amp; Identity</h3>
					<h5 class="small-heading"><span>Logo / Business Cards</span></h5>
					<p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros iaculis, lacinia nibh non, scelerisque urna. In sed convallis turpis, non convallis sapien. Sed faucibus ante et felis tempor accumsan eget sed tortor. Mauris a velit vitae mauris ultricies vehicula vitae dapibus odio. Praesent ipsum ligula, luctus ac libero sagittis, porttitor consectetur eros. Vestibulum velit ipsum, egestas nec aliquam a, molestie mattis leo.</p>
					<nav class="cl-effect-10 btn-dignity-animated">
					<a href="#" data-hover="Request quote"><span>Have a project?</span></a>
					</nav>
				</article>
			</li>

			<li  class="service-details default" data-service-active-hover="service-03">
				<article class="text-center">
					<h3 class="sub-heading">Web Publication</h3>
					<h5 class="small-heading"><span>Websites / CMS / Apps</span></h5>
					<p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros iaculis, lacinia nibh non, scelerisque urna. In sed convallis turpis, non convallis sapien. Sed faucibus ante et felis tempor accumsan eget sed tortor. Mauris a velit vitae mauris ultricies vehicula vitae dapibus odio. Praesent ipsum ligula, luctus ac libero sagittis, porttitor consectetur eros. Vestibulum velit ipsum, egestas nec aliquam a, molestie mattis leo.</p>
					<nav class="cl-effect-10 btn-dignity-animated">
					<a href="#" data-hover="Request quote"><span>Have a project?</span></a>
					</nav>
				</article>
			</li>

			<li  class="service-details default" data-service-active-hover="service-04">
				<article class="text-center">
					<h3 class="sub-heading">Motion Graphics</h3>
					<h5 class="small-heading"><span>Video Conference / Webinar</span></h5>
					<p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros iaculis, lacinia nibh non, scelerisque urna. In sed convallis turpis, non convallis sapien. Sed faucibus ante et felis tempor accumsan eget sed tortor. Mauris a velit vitae mauris ultricies vehicula vitae dapibus odio. Praesent ipsum ligula, luctus ac libero sagittis, porttitor consectetur eros. Vestibulum velit ipsum, egestas nec aliquam a, molestie mattis leo.</p>
					<nav class="cl-effect-10 btn-dignity-animated">
					<a href="#" data-hover="Request quote"><span>Have a project?</span></a>
					</nav>
				</article>
			</li>
		</ul>

	</section>
	<!-- container : ends -->

	</section>
	<!-- inner-section : ends -->

</section>
<!-- page-section : ends -->
