<!-- page-section : starts -->
<section id="testimonial-carousel-wrap">

        	<!-- testimonial-carousel : starts -->
        	<div id="testimonial-carousel" class="testimonial-carousel  testimonial-carousel-{{ config.colour }} owl-carousel" data-stellar-background-ratio="1.7">

	          <div class="item">
	          	<div class="container text-center testimonial-block">
	          		<img alt="" title="" src="/static/dignity/images/clients/c1.png"/>
			<article class="col-md-12 arrow-division-dark">
			</article>
	          	 	<p class="white-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros iaculis, lacinia nibh non, scelerisque urna. In sed convallis turpis, non convallis sapien. Sed faucibus ante et felis tempor accumsan."</p>
	          	 	<h3 class="testimonial-user"><span>John Doe Livingston</span></h3>
	          	</div>
	          </div>
	          <div class="item">
	          	<div class="container text-center testimonial-block">
	          		<img alt="" title="" src="/static/dignity/images/clients/c2.png"/>
			<article class="col-md-12 arrow-division-dark">
			</article>
	          	 	<p class="white-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros iaculis, lacinia nibh non, scelerisque urna. In sed convallis turpis, non convallis sapien. Sed faucibus ante et felis tempor accumsan."</p>
	          	 	<h3 class="testimonial-user"><span>John Doe Livingston</span></h3>
	          	</div>
	          </div>
	          <div class="item">
	          	<div class="container text-center testimonial-block">
	          		<img alt="" title="" src="/static/dignity/images/clients/c3.png"/>
			<article class="col-md-12 arrow-division-dark">
			</article>
	          	 	<p class="white-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum eros iaculis, lacinia nibh non, scelerisque urna. In sed convallis turpis, non convallis sapien. Sed faucibus ante et felis tempor accumsan."</p>
	          	 	<h3 class="testimonial-user"><span>John Doe Livingston</span></h3>
	          	</div>
	          </div>

        	</div>
        	<!-- testimonial-carousel-wrap : ends -->


</section>
<!-- page-section : ends -->


