{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TOTTAgency | Burger King South Africa</title>

    <link href="/static/foundation/css/foundation.css" rel="stylesheet" />
    <link href="/static/css/base_shop.css" rel="stylesheet" />

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/foundation/js/foundation.min.js"></script>
    <script src="/static/foundation/js/vendor/modernizr.js"></script>
    <script src="/static/js/base.js"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    {% block post_css %}{% endblock %}
    {% block post_js %}{% endblock %}
</head>

<body>
    <div class="mainBanner fixed">
        <a href="http://www.tottagency.com/"><img src="/static/img/top-logo.jpg" alt=""/></a>
        <a class="logout" href="{% url "auth_logout" %}">logout</a>
    </div>
    <div class="mainContainer">
        {% include "partials/header.html" %}
        <section class="mainContent">
            <div class="row bodycontent">
                {% include "partials/blip.html" %}
                {% block content %}{% endblock %}
            </div>
        </section>
        {% include "partials/footer.html" %}
    </div>
    {% block after_js %}{% endblock %}
</body>
</html>