{% load thumbnail %}

<div class="modal-image">
    {% thumbnail product.image 500x500 crop quality=100 as thumb %}
    <img src="{{ thumb.url }}" style="radius: 5px; width:500px;" alt=""/>
</div>

<div class="modal-form">
    <h1>{{ product.title }}</h1>
    
    <div style="height: 130px; margin-bottom: 10px; padding: 5px; border: 1px solid #ddd; overflow: scroll;">

            <table class="table small" style="margin-bottom: 0px;">
            <tr>
                <th>Type</th>
                <th>Size</th>
                <th>Cost</th>
            </tr>
            {% for cost in product.productcost_set.all %}
                <tr>
                    <td>{{ cost.product_type.title }}</td>
                    <td>{{ cost.size.title }}</td>
                    <td>R {{ cost.price|floatformat:2 }}</td>
                </tr>
            {% endfor %}
            </table>

    </div>

    <p>Please select the type and size you would like:</p>

    <form action="/shop/add/" method="POST">{% csrf_token %}
        <select name="product_type" id="id_product_type">
            <option value="">-- product type --</option>
            {% for item in product_type_list %}
                <option value="{{ item.product_type__title }}">{{ item.product_type__title }}</option>
            {% endfor %}
        </select>

        <input type="hidden" name="product_item" id="id_product_item_id" value=""/>

        <div id="modal_product_size" style="height: 50px;"></div>
        <button id="product_price_button" type="submit" class="left btn small radius hide">Add to Cart</button>
        <div class="right hide" id="product_price_wrapper">R <span id="product_price"></span></div>

    </form>
</div>