
<!-- masthead : starts -->
<header id="masthead" class="clearfix">
	<h1 class="logo">Dignity</h1>
</header>
<!-- masthead : ends -->

<!-- top-banner : starts -->
<div id="intro">
	<div class="vertical-center top-banner-caption-v1">
		<div class="logo-emblem">
			<img alt="" title="" src="/static/dignity/images/badge-red.png"/>
		</div>
		<h3><span>Welcome to Dignity</span></h3>
		<h1 class="text-rotator-fade"><span class="rotate">Designs, Brands, Stories</span></h1>
	</div>
</div>
<!-- top-banner : ends -->


