
<!-- masthead : starts -->
<header id="masthead" class="clearfix">
	<h1 class="logo">{{ config.site_name }}</h1>
</header>
<!-- masthead : ends -->

<!-- top-banner : starts -->
<div id="intro">
	<div class="vertical-center top-banner-caption-v1">
		{% if config.logo %}
            <div class="logo-emblem">
                <img alt="" title="" src="{{ config.logo.url }}"/>
            </div>
        {% else %}
            <div class="logo-emblem">
                <img alt="" title="" src="/static/dignity/images/badge-{{ config.colour }}.png"/>
            </div>
        {% endif %}
        <h3><span style="color: {{ config.text_colour }}">{{ config.title }}</span></h3>
        <h1 {% if config.subtitle_style %}style="color:{{ config.text_colour }}; {{ config.subtitle_style }}"{% endif %}>{{ config.site_name }}</h1>
        <h4 style="color: {{ config.text_colour }}"><strong>{{ config.subtitle }}</strong><br/>&nbsp;</h4>
	</div>
</div>
<!-- top-banner : ends -->


