<!-- masthead : starts -->
<header id="masthead" class="clearfix trans-header">
	<h1 class="logo">Dignity</h1>
</header>
<!-- masthead : ends -->

<!-- top-banner (variant2 only) : starts -->
<section class="intro-parallax-bg" data-stellar-background-ratio="3.5" data-stellar-vertical-offset="0" data-stellar-horizontal-offset="0">
	<div id="intro" class="top-banner-caption-v9">

		<div class="vertical-center top-caps4">
			<h3><span>Dignity Interactive Agency</span></h3>
			<h1 class="text-rotator-fade"><span class="rotate">we are dignity, parallax enabled, easy to setup</span></h1>
			<a class="btn btn-rounded btn-rounded-white scroll" href="/static/dignity/#about">Go</a>
		</div>
		<!-- top-caps : ends -->

	</div>
</section>
<!-- top-banner : ends -->

