<!-- Sliding Navigation : starts -->
<nav class="menu visible-xs visible-sm visible-md" id="sm">
	<div class="sm-wrap">
		<h1 class="sm-logo">Tip of the Tongue</h1>
		<i class="icon-remove menu-close"></i>
		<a class="scroll" href="#intro">Home</a>
		<a class="scroll" href="#about">About</a>
		<a class="scroll" href="#services">Services</a>
		<a class="scroll" href="#team">Team</a>
		<a class="scroll" href="#portfolio">Portfolio</a>
		<a class="scroll" href="#contact">Contact</a>
		<a href="http://demo.tottagency.com">Login</a>
	</div>
	<!-- Navigation Trigger Button -->
	<div id="sm-trigger"></div>
</nav>
<!-- Sliding Navigation : ends -->