<!-- Sliding Navigation : starts -->
<nav class="menu" id="sm">
	<div class="sm-wrap">
		<h1 class="sm-logo">Dignity</h1>
		<i class="icon-remove menu-close"></i>
		<a class="scroll" href="/static/dignity/#intro">Home</a>
		<a class="scroll" href="/static/dignity/#about">About</a>
		<a class="scroll" href="/static/dignity/#services">Services</a>
		<a class="scroll" href="/static/dignity/#team">Team</a>
		<a class="scroll" href="/static/dignity/#portfolio">Portfolio</a>
		<a class="scroll" href="/static/dignity/#contact">Contact</a>
		<a href="/static/dignity/single-project.html">Single Project</a>
	</div>
	<!-- Navigation Trigger Button -->
	<div id="sm-trigger"></div>
</nav>
<!-- Sliding Navigation : ends -->
