<!-- masthead : starts -->
<header id="masthead" class="clearfix trans-header">
	<h1 class="logo">Dignity</h1>
</header>
<!-- masthead : ends -->

<!-- top-banner (variant2 only) : starts -->
<div id="intro" class="top-banner-caption-v6" data-stellar-background-ratio="1.7">

	<div class="vertical-center top-caps6">
		<h3><span>Dignity Interactive Agency</span></h3>
		<h1 class="text-rotator-fade"><span class="rotate">Parallax Images, It is Easy to Setup, Single Line CSS Only</span></h1>
		<a class="btn btn-rounded btn-rounded-color2 scroll" href="/static/dignity/#about">Go</a>
	</div>
	<!-- top-caps : ends -->
</div>
<!-- top-banner : ends -->