<!-- masthead : starts -->
<header id="masthead" class="clearfix trans-header">
	<h1 class="logo">{{ config.site_name }}</h1>
</header>
<!-- masthead : ends -->

<!-- top-banner (variant2 only) : starts -->
<div id="intro" class="top-banner-caption-v6" data-stellar-background-ratio="1.7">

	<div class="vertical-center top-caps6">
        <h3><span>{{ config.title }}</span></h3>
        <h1 {% if config.subtitle_style %}style="{{ config.subtitle_style }}"{% endif %}>{{ config.site_name }}</h1>
        <h4 style="color: white"><strong>{{ config.subtitle }}</strong><br/>&nbsp;</h4>
		<a class="btn btn-rounded btn-rounded-color2 scroll" href="#about">Go</a>
	</div>
	<!-- top-caps : ends -->
</div>
<!-- top-banner : ends -->