<!-- masthead : starts -->
<header id="masthead" class="clearfix">
	<h1 class="logo">Dignity</h1>
</header>
<!-- masthead : ends -->

<!-- top-banner : starts -->

<div id="intro" class="top-banner-caption-v1" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="0" data-stellar-horizontal-offset="0">
	<section class="intro-overlay">
		<div class="vertical-center">
			<div class="logo-emblem">
				<img alt="" title="" src="/static/dignity/images/badge-green.png"/>
			</div>
			<h3><span>Welcome to Dignity</span></h3>
			<h1 class="text-rotator-fade"><span class="rotate">Parallax, BGImage, Animated</span></h1>
		</div>
	</section>
</div>

<!-- top-banner : ends -->