<!-- masthead : starts -->
<header id="masthead" class="clearfix trans-header">
	<h1 class="logo">Dignity</h1>
</header>
<!-- masthead : ends -->

<!-- top-banner (variant2 only) : starts -->
<div id="intro">

	<div class="vertical-center top-banner-caption-v2">
		<div class="top-caps2">
			<h3><span>Perfection Comes from</span></h3>
			<h1 class="text-rotator-fade"><span class="rotate">experience, dedication, innovation</span></h1>
			<h3><span>cultivated by hardwork</span></h3>
		</div>
		<!-- top-caps : ends -->
	</div>


</div>
<!-- top-banner : ends -->
