<!-- masthead : starts -->
<header id="masthead" class="clearfix trans-header">
	<h1 class="logo">{{ config.site_name }}</h1>
</header>
<!-- masthead : ends -->

<!-- top-banner (variant2 only) : starts -->
<div id="intro">

	<div class="vertical-center top-banner-caption-v2">
		<div class="top-caps2">
            <h3><span style="color:{{ config.text_colour }}">{{ config.site_name }}</span></h3>
		    <h1 {% if config.subtitle_style %}style="color: {{ config.text_colour }}; {{ config.subtitle_style }}"{% endif %}>{{ config.title }}</h1>
            <h4 style="color:{{ config.text_colour }}"><strong>{{ config.subtitle }}</strong><br/>&nbsp;</h4>
		</div>
		<!-- top-caps : ends -->
	</div>


</div>
<!-- top-banner : ends -->
